/* ==================================================
   HERO SECTION · MINIMAL STYLE
   Complemento de style.css para jerarquía visual
   ================================================== */

.hero {
    display: flex;
    padding: 1rem;
    text-align: center;
    height: 100dvh;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.hero h1 {
    font-size: min(11vw, 130px);
    margin: 0;
    text-transform: uppercase;
    display: flex;
    line-height: .95em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.letrero:first-child {
    font-size: min(14vw, 200px);
}

.hero-char {
    display: inline-block;
}

.hero p {
    max-width: 80ch;
    font-size: 1.5rem;
    letter-spacing: 0;
    margin: 1rem auto;
    text-transform: none;
    line-height: 1.5em;
    text-wrap-style: auto;
    color: var(--white);
}


.hero>header>p {
    display: inline;
    opacity: 0.8;
    text-transform: uppercase;
}

.hero nav {
    display: flex;
    gap: 0.75rem;
    margin-top: 3rem;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
}

.primary-btn,
.secondary-btn {
    --wght: 400;
    --wdth: 90;
    --slnt: 0;
    --GRAD: 0;
    --ROND: 30;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--bg);
    font-variation-settings: 'wght' var(--wght),
        'wdth' var(--wdth),
        'slnt' var(--slnt),
        'GRAD' var(--GRAD),
        'ROND' var(--ROND);
    transition: all 0.3s ease-in-out;
    width: 200px;
    text-align: center;
    justify-content: center;
    border-radius: 1em;
}

.secondary-btn {
    background-color: var(--bg);
    color: var(--orange);
    border: 2px solid currentColor;
}

.primary-btn:hover,
.primary-btn:focus-visible {
    border-radius: 0;
    --wght: 900;
    --wdth: 150;
    --slnt: -10;
    --GRAD: 10;
    --ROND: 0;
}