* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow: #ffe600;
    --orange: #ff6500;
    --pink: #E4007C;
    --green: #00ff06;
    --black: #111111;
    --white: #eaeaea;
    --font: 'Google Sans Flex', sans-serif;
    --bg: var(--white);
    --bg: var(--black);
    --text: var(--pink);
    --accent: #00A859;
}

@font-face {
    font-family: 'Google Sans Flex';
    src: url('./fonts/GoogleSansFlex.ttf') format('truetype');
    font-style: oblique 0deg 10deg;
    font-weight: 1 1000;
    font-stretch: 25% 151%;
    font-display: swap;
}

body {
    font-family: var(--font);
    background-color: var(--bg);
    color: var(--text);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a {
    background-color: var(--accent);
}

.fit-text-container {
    font-family: var(--font);
    --wght: 500;
    --wdth: 100;
    --slnt: 0;
    --GRAD: 0;
    --ROND: 0;
    font-variation-settings:
        'wght' var(--wght),
        'wdth' var(--wdth),
        'slnt' var(--slnt),
        'GRAD' var(--GRAD),
        'ROND' var(--ROND);
    line-height: 1;
    white-space: nowrap;
    width: 100%;
    display: flex;
    overflow: visible;
    position: relative;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.fit-text-container.fit-text-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fit-text-container>span {
    display: inline-block;
    font-variation-settings:
        'wght' var(--wght),
        'wdth' var(--wdth),
        'slnt' var(--slnt),
        'GRAD' var(--GRAD),
        'ROND' var(--ROND);
}

.example-container-1 {
    height: 150px;
    color: var(--orange);
}

.example-container-2 {
    width: 100%;
    height: 250px;
    color: var(--yellow);
}

.example-container-3 {
    height: 600px;
    color: var(--green);
}

.example-container-4 {
    height: 150px;
    color: var(--pink);
    text-transform: uppercase;
}

.info {
    background-color: #1a1a1a;
    padding: 1rem;
    border-radius: 4px;
    font-size: 0.875rem;
    color: #aaa;
}